In [1]:
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from MDLP import MDLP_Discretizer
import pandas as pd

In [5]:
df = pd.read_csv('new_Base_CDM_balanced_V2.csv', sep=';',header=0)    
df.head()

,Y,X1,X2,X3,X4,X5,X6,X7
0,Display,cor_sales_in_vol,cor_sales_in_val,CA_mag,value,ENSEIGNE,VenteConv,Feature
1,No_Displ,2,20.2,47400,36,CORA,72,No_Feat
2,No_Displ,2,11.9,62000,24,LECLERC,48,No_Feat
3,No_Displ,8,29.52,60661,60,AUCHAN,480,No_Feat
4,No_Displ,2,16.2,59677,19,CARREFOUR,38,No_Feat

In [6]:
# delete the first row
df = df.drop(df.index[0])

In [7]:
df.head()

          Y X1     X2      X3  X4         X5   X6       X7
1  No_Displ  2   20.2   47400  36       CORA   72  No_Feat
2  No_Displ  2   11.9   62000  24    LECLERC   48  No_Feat
3  No_Displ  8  29.52   60661  60     AUCHAN  480  No_Feat
4  No_Displ  2   16.2   59677  19  CARREFOUR   38  No_Feat
5  No_Displ  5   62.1  142602  50       CORA  250  No_Feat

In [8]:
# categorical variables : X5_ENSEIGNE, X7_Feature, y_display
df['X5'] = df['X5'].astype('category')
df['X7'] = df['X7'].astype('category')
df['Y'] = df['Y'].astype('category')

# numerical variables : X1_cor_sales_in_vol, X2_cor_sales_in_val, X3_CA_mag, X4_value, X6_VenteConv
df['X1'] = df['X1'].astype('float')
df['X2'] = df['X2'].astype('float')
df['X3'] = df['X3'].astype('float')
df['X4'] = df['X4'].astype('float')
df['X6'] = df['X6'].astype('float')

In [12]:
# convert categorical variables to numerical variables
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()

# Apply the label encoder to each column
df['Y'] = le.fit_transform(df['Y'])

In [13]:
X , y = df.iloc[:,[1,2,3,4,6]].values , df.iloc[:,0].values

In [14]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [15]:
feature_names, class_names = df.columns[1:5] , df.columns[0]

In [16]:
feature_names

Index(['X1', 'X2', 'X3', 'X4'], dtype='object')

In [17]:
class_names

'Y'

In [18]:
numeric_features = np.arange(X.shape[1])  # all fetures in this dataset are numeric. These will be discretized
#Initialize discretizer object and fit to training data
discretizer = MDLP_Discretizer(features=numeric_features)
X_discretized = discretizer.fit_transform(X,y)
import json
dict = discretizer._cuts
values = dict.values()

with open('cut.txt', 'w') as f:
    for _list in values:
        f.write(str(_list) + '\n')

In [19]:
pd.DataFrame(X_discretized,columns=["x1","x2","x3","x4","x6"]).to_csv("./data_discretized.csv")